{% extends "base.html" %}

{% block title %}线路室视频站{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href={{ url_for("static", filename="css/index.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="css/auth/register.css")}}>
<link rel="stylesheet" href={{ url_for("static", filename="css/auth/account.css")}}>
{% endblock %}

{% block container %}
<div class="container">
  <div class="left-menu-col noselect">
    <button type="button" class="left-menu-toggle-btn">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="left-menu-toggle-wrapper">
      <h1 class="left-menu-head">目录</h1>
      <ul class="left-menu-list">
        <li class="left-menu-item menu-active" data-target-panel="profile-panel">个人信息</li>
        <li class="left-menu-item" data-target-panel="security-panel">账号安全</li>
        <li class="left-menu-item home-page-btn">回到主页</li>
      </ul>
    </div>
  </div>
  <div class="right-content-col">
    <div class="panel-group">
      <div class="content-panel d-block" data-panel-name="profile-panel">
        <div class="auth-page-wrapper" id="profile-table-wrapper">
          <table class="userinfo-table" id="profile-table">
            <caption>
              <h4>个人信息</h4>
              {% if editable %}
              <a id="edit-profile-btn" href="javascript:void(0)">修改</a>
              {% endif %}
              <hr>
            </caption>
            <tr>
              <td class="userinfo-title">用户名</td>
              <td class="userinfo-info">{{ user.username|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">真实姓名</td>
              <td class="userinfo-info">{{ user.realname|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">邮箱</td>
              <td class="userinfo-info">{{ user.email|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">电话</td>
              <td class="userinfo-info">{{ user.phone|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">单位</td>
              <td class="userinfo-info">{{ user.company|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">部门</td>
              <td class="userinfo-info">{{ user.department|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">职位</td>
              <td class="userinfo-info">{{ user.position|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">性别</td>
              <td class="userinfo-info">{{ ['', '男', '女'][user.gender] }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">年龄</td>
              <td class="userinfo-info">{{ user.age|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">个人简介</td>
              <td class="userinfo-info">
                <p>{{ user.description|default("", true) }}</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="content-panel" data-panel-name="security-panel">
        {% if editable %}
        <div class="auth-page-wrapper">
          <table class="userinfo-table">
            <caption>
              <h4>修改密码</h4>
              <hr>
            </caption>
            <tr>
              <td class="userinfo-title">密码</td>
              <td class="userinfo-info">******<a href="javascript:void(0)" id="change-passwd-btn">修改密码</a></td>
            </tr>
          </table>
        </div>
        {% else %}
        <h1 class="placeholder">此页面只有本人才能查看</h1>
        {% endif %}
      </div>
      <div class="content-panel" data-panel-name="edit-profile-panel">
        {% if editable %}
        <div class="auth-page-wrapper" id="profile-form-wrapper">
          <form class="auth-form" id="profile-form">
            <div class="col">
              <div class="reg-form-group">
                <label>用户名*<br><small>(3-20个字符)</small></label>
                <input type="text" id="reg-input-username" name="username" value={{ user.username }}
                  class="input-required" disabled>
                <p class="feedback reg-feedback" id="username_field">aa</p>
              </div>
              <div class="reg-form-group">
                <label>姓名*<br><small>(真实姓名)</small></label>
                <input type="text" class="input-required" required id="reg-input-realname" name="realname"
                  value={{ user.realname|default("", true) }}>
                <p class="feedback reg-feedback" id="realname_field"></p>
              </div>
              <div class="reg-form-group">
                <label>电子邮箱*<br></label>
                <input type="email" class="input-required" id="reg-input-email" name="email"
                  value={{ user.email|default("", true) }}>
                <p class="feedback reg-feedback" id="email_field"></p>
              </div>
              <div class="reg-form-group">
                <label>电话号码<br><small>(11位手机号)</small></label>
                <input type="text" id="reg-input-phone" name="phone" value={{ user.phone|default("", true) }}>
                <p class="feedback reg-feedback" id="phone_field"></p>
              </div>
              <div class="reg-form-group">
                <label>单位<br><small>(公司名称)</small></label>
                <input type="text" id="reg-input-company" name="company" value={{ user.company|default("", true) }}>
                <p class="feedback reg-feedback" id="company_field"></p>
              </div>
              <div class="reg-form-group">
                <label>部门<br><small>(所在部门)</small></label>
                <input type="text" id="reg-input-department" name="department"
                  value={{ user.department|default("", true) }}>
                <p class="feedback reg-feedback" id="department_field"></p>
              </div>
              <div class="reg-form-group">
                <label>职位<br><small></small></label>
                <input type="text" id="reg-input-position" name="position" value={{ user.position|default("", true) }}>
                <p class="feedback reg-feedback" id="position_field"></p>
              </div>
              <div class="reg-form-group">
                <label>性别<br><small></small></label>
                <input class="radio" type="radio" name="gender" value=1
                  {% if user.gender == 1 %}{{ "checked" }}{% endif %}>男
                <input class="radio" type="radio" name="gender" value=2
                  {% if user.gender == 2 %}{{ "checked" }}{% endif %}>女
                <input class="radio" type="radio" name="gender" value=0
                  {% if user.gender == 0 %}{{ "checked" }}{% endif %}>保密
                <p class="feedback reg-feedback" id="gender_field"></p>
              </div>
              <div class="reg-form-group">
                <label>年龄<br><small></small></label>
                <input type="number" id="reg-input-age" name="age" value={{ user.age|default("", true) }}>
                <p class="feedback reg-feedback" id="age_field"></p>
              </div>
              <div class="reg-form-group textarea-group">
                <label>个人简介<br><small></small></label>
                <textarea type="text" id="reg-input-description"
                  name="description">{{ user.description|default("", true) }}</textarea>
              </div>
              <button type="button" class="primary-btn"
                onclick="commitEdit('register?type=edit&id=', '#profile-form')">提交修改</button>
              <p class="feedback reg-feedback" id="overall_field"></p>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
      <div class="content-panel" data-panel-name="change-password-panel">
        {% if editable %}
        <div class="auth-page-wrapper" id="password-form-wrapper">
          <form class="auth-form" id="password-form">
            <div class="col">
              <div class="reg-form-group">
                <label>原密码*<br></label>
                <input type="password" id="reg-input-old-password" name="old-password" class="input-required">
                <p class="feedback reg-feedback" id="old_password_field"></p>
              </div>
              <div class="reg-form-group">
                <label>新密码*<br><small>(6-20个字符)</small></label>
                <input type="password" id="reg-input-password" name="password" class="input-required">
                <p class="feedback reg-feedback" id="password_field"></p>
              </div>
              <div class="reg-form-group">
                <label>确认密码*<br></label>
                <input type="password" id="reg-input-confirm-password" name="confirm-password" class="input-required">
                <p class="feedback reg-feedback" id="confirm_password_field"></p>
              </div>
              <button type="button" class="primary-btn" style="width: 50%"
                onclick="commitEdit('change_password/', '#password-form')">提交修改</button>
              <p class="feedback reg-feedback" id="overall_field"></p>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src={{ url_for("static", filename="js/index.js") }}></script>
<script src={{ url_for("static", filename="js/auth/account.js") }}></script>
{% endblock %}