{% extends "base.html" %}

{% block title %}线路室视频站{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href={{ url_for("static", filename="css/index.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="css/register.css")}}>
<style>
  .auth-page-wrapper {
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .auth-form .col {
    width: 600px;
  }

  .reg-form-group input {
    width: 200px;
  }

  .userinfo-table {
    width: 80%;
    margin-bottom: 50px;
  }

  .userinfo-table caption {
    position: relative;
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
  }

  .userinfo-table caption h4,
  .userinfo-table a {
    display: inline-block;
    margin: 10px;
  }

  .userinfo-table a {
    font-size: 15px;
    color: #0984e3;
  }

  .userinfo-table a:hover {
    text-shadow: 0px 0px 1px gray;
  }

  .userinfo-table caption hr::before {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    left: 0px;
    background-color: gray;
  }

  .userinfo-title {
    width: 200px;
    line-height: 50px;
    color: gray;
    text-align: right;
    vertical-align: text-top;
  }

  .userinfo-info {
    text-align: left;
    vertical-align: text-top;
    padding-left: 20px;
  }

  .userinfo-info p {
    line-height: 30px;
  }

  input.radio {
    width: 16px;
    margin: 0 0 0 20px;
  }

  .textarea-group {
    height: auto;
  }

  .textarea-group label {
    align-self: flex-start;
  }

  .reg-form-group textarea {
    width: 400px;
    height: 120px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
    outline: none;
    resize: none;
  }
</style>
{% endblock %}

{% block container %}
<div class="container">
  <div class="left-menu-col noselect">
    <button type="button" class="left-menu-toggle-btn">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="left-menu-toggle-wrapper">
      <h1 class="left-menu-head">目录</h1>
      <ul class="left-menu-list">
        <li class="left-menu-item menu-active" data-target-panel="profile-panel">个人信息</li>
        <li class="left-menu-item" data-target-panel="security-panel">账号安全</li>
        <a href="/">
          <li class="left-menu-item menu-inactive">回到主页</li>
        </a>
      </ul>
    </div>
  </div>
  <div class="right-content-col">
    <div class="panel-group">
      <div class="content-panel d-block" data-panel-name="profile-panel">
        <div class="auth-page-wrapper" id="profile-table-wrapper">
          <table class="userinfo-table" id="profile-table">
            <caption>
              <h4>个人信息</h4>
              {% if editable %}
              <a id="edit-profile-btn" href="javascript:void(0)">修改</a>
              {% endif %}
              <hr>
            </caption>
            <tr>
              <td class="userinfo-title">用户名</td>
              <td class="userinfo-info">{{ user.username|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">真实姓名</td>
              <td class="userinfo-info">{{ user.realname|default("", true) }}</td>
            </tr>
            <tr>
            <tr>
              <td class="userinfo-title">性别</td>
              <td class="userinfo-info">{{ ['', '男', '女'][user.gender] }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">年龄</td>
              <td class="userinfo-info">{{ user.age|default("", true) }}</td>
            </tr>
            <td class="userinfo-title">单位</td>
            <td class="userinfo-info">{{ user.company|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">部门</td>
              <td class="userinfo-info">{{ user.department|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">职位</td>
              <td class="userinfo-info">{{ user.position|default("", true) }}</td>
            </tr>
            <tr>
              <td class="userinfo-title">个人简介</td>
              <td class="userinfo-info">
                <p>{{ user.description|default("", true) }}</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="content-panel" data-panel-name="security-panel">
        {% if editable %}
        <div class="auth-page-wrapper">
          <table class="userinfo-table">
            <caption>
              <h4>修改密码</h4>
              <hr>
            </caption>
            <tr>
              <td class="userinfo-title">密码</td>
              <td class="userinfo-info">******<a href="javascript:void(0)">修改密码</a></td>
            </tr>
          </table>
          <table class="userinfo-table">
            <caption>
              <h4>绑定邮箱</h4>
              <hr>
            </caption>
            <tr>
              <td class="userinfo-title">邮箱</td>
              <td class="userinfo-info">{{ user.email|default("", true) }}<a href="javascript:void(0)">修改邮箱</a></td>
            </tr>
          </table>
          <table class="userinfo-table">
            <caption>
              <h4>绑定手机</h4>
              <hr>
            </caption>
            <tr>
              <td class="userinfo-title">电话</td>
              <td class="userinfo-info">{{ user.phone|default("", true) }}<a href="javascript:void(0)">修改手机</a></td>
            </tr>
          </table>
        </div>
        {% else %}
        <h1 class="placeholder">此页面只有本人才能查看</h1>
        {% endif %}
      </div>
      <div class="content-panel" data-panel-name="edit-profile-panel">
        {% if editable %}
        <div class="auth-page-wrapper" id="profile-form-wrapper">
          <form class="auth-form" id="profile-form">
            <div class="col">
              <div class="reg-form-group">
                <label>用户名*<br><small>(3-20个字符)</small></label>
                <input type="text" id="reg-input-username" name="username" value={{ user.username }}
                  class="input-required" disabled>
                <p class="feedback reg-feedback" id="username_field">aa</p>
              </div>
              <div class="reg-form-group">
                <label>姓名*<br><small>(真实姓名)</small></label>
                <input type="text" class="input-required" required id="reg-input-realname" name="realname"
                  value={{ user.realname|default("", true) }}>
                <p class="feedback reg-feedback" id="realname_field"></p>
              </div>
              <div class="reg-form-group">
                <label>单位<br><small>(公司名称)</small></label>
                <input type="text" id="reg-input-company" name="company" value={{ user.company|default("", true) }}>
                <p class="feedback reg-feedback" id="company_field"></p>
              </div>
              <div class="reg-form-group">
                <label>部门<br><small>(所在部门)</small></label>
                <input type="text" id="reg-input-department" name="department"
                  value={{ user.department|default("", true) }}>
                <p class="feedback reg-feedback" id="department_field"></p>
              </div>
              <div class="reg-form-group">
                <label>职位<br><small></small></label>
                <input type="text" id="reg-input-position" name="position" value={{ user.position|default("", true) }}>
                <p class="feedback reg-feedback" id="position_field"></p>
              </div>
              <div class="reg-form-group">
                <label>性别<br><small></small></label>
                <input class="radio" type="radio" name="gender" value=1
                  {% if user.gender == 1 %}{{ "checked" }}{% endif %}>男
                <input class="radio" type="radio" name="gender" value=2
                  {% if user.gender == 2 %}{{ "checked" }}{% endif %}>女
                <input class="radio" type="radio" name="gender" value=0
                  {% if user.gender == 0 %}{{ "checked" }}{% endif %}>保密
                <p class="feedback reg-feedback" id="gender_field"></p>
              </div>
              <div class="reg-form-group">
                <label>年龄<br><small></small></label>
                <input type="text" id="reg-input-age" name="age" value={{ user.age|default("", true) }}>
                <p class="feedback reg-feedback" id="age_field"></p>
              </div>
              <div class="reg-form-group textarea-group">
                <label>个人简介<br><small></small></label>
                <textarea type="text" id="reg-input-description" name="description">{{ user.description|default("", true) }}</textarea>
              </div>
              <button type="button" class="primary-btn" onclick="commitEdit()">提交修改</button>
              <p class="feedback reg-feedback" id="overall_field"></p>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src={{ url_for("static", filename="js/index.js") }}></script>
<script>
  jQuery("document").ready(function () {
    jQuery("#edit-profile-btn").click(function () {
      jQuery(".content-panel").removeClass("d-block");
      jQuery(".content-panel[data-panel-name='edit-profile-panel']").addClass("d-block");
    })
  });
  function commitEdit() {
    var passFlag = true;
    var name = jQuery("#reg-input-realname").val();
    if (name[0] == " " || name[name.length - 1] == " ") {
      passFlag = false;
      jQuery("#realname_field").text("首尾不能为空格").addClass("d-flex");
    } else if (name.length < 2) {
      passFlag = false;
      jQuery("#realname_field").text("姓名长度至少为2").addClass("d-flex");
    }
    if (!passFlag) {
      return false;
    } else {
      jQuery.ajax({
        type: "POST",
        dataType: "json",
        url: "/account/edit_profile/" + {{ user.id }},
    data: jQuery("#profile-form").serialize(),
      success: function (json) {
        if (json.status == true) {
          alert(json.message);
          window.open(json.url, "_self");
        }
        else {
          alert(json.message);
        }
      },
    error: function () {
      alert('网络错误, 修改失败');
    }
  });
    }
  }
</script>
{% endblock %}