.navbar-submenu {
  background: snow;
  color: gray;
  list-style: none;
  position: absolute;
  top: 60px;
  left: -10px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top;
  transition: 0.3s;
  /* transition-delay: 0.2s; */
}

.toggle-indicator {
  transition: 0.3s;
  /* transition-delay: 0.2s; */
}

.hover-toggle-btn:hover .toggle-indicator {
  transform: rotateZ(-90deg);
}

.hover-toggle-btn:hover .cascade-menu .iframe-placeholder {
  display: block;
}

.navbar-submenu li {
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 35px;
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-submenu li a {
  color: rgba(0, 0, 0, 0.8);
}

.navbar-submenu li a i {
  color: rgba(0, 0, 0, 0.2);
}

.navbar-submenu li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px gray;
}

.navbar-submenu h5 {
  display: inline-block;
  width: 100%;
  text-align: left;
  line-height: 35px;
  font-size: 14px;
  padding: 0 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.iframe-placeholder {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  display: none;
}


/* #################### container样式 #################### */

.container {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.ITEwindow-wrapper {
  flex: 80%;
}

.ITEinfowindow-wrapper {
  flex: 19%;
  min-width: 200px;
  height: 100%;
}

.sidebar-placeholder {
  display: block;
  flex: 1%;
  min-width: 5px;
  max-width: 5px;
  visibility: hidden;
}

.ITEwindow,
.ITEinfowindow {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar-indicator {
  width: 5px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 60px;
  background-color: black;
  opacity: 0.1;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
}

.sidebar {
  width: 22%;
  min-width: 240px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2px;
  background-color: snow;
  color: rgba(0, 0, 0, 0.6);
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.3s;
  z-index: 3;
}

.sidebar i.fa {
  margin: 10px;
  transition: 0.3s;
}

.sidebar-header h4,
.sidebar-row-header h5 {
  font-weight: bold;
}

.sidebar-header {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 10px;
  border: solid rgba(50, 50, 50, 0.1);
  border-width: 2px 1px 2px 1px;
}

#close-sidebar-btn {
  position: static;
  margin-left: auto;
}

.sidebar-body {
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar-row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: solid rgba(50, 50, 50, 0.1);
  border-width: 0 1px 0 1px;
}

.sidebar-row .sidebar-row-header {
  height: 40px;
  min-height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}

.sidebar-row ul.sidebar-submenu {
  display: flex;
  justify-content: left;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 20px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
  transform-origin: top;
  transform: scaleY(0);
  height: 0;
  transition: all 0.3s;
}

.submenu-visible {
  transform: scaleY(1) !important;
  height: auto !important;
}

.sidebar-row ul li {
  display: block;
  width: 68px;
  height: 68px;
  border: 2px solid;
  border-color: snow gray gray snow;
  outline: 1px solid black;
  margin: 10px;
  cursor: pointer;
}

.sidebar-row ul li:active {
  border-color: gray snow snow gray;
}

.sidebar-row ul li img {
  width: 100%;
  height: 100%;
}


.prompt {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  line-height: 48px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  background-color: snow;
  display: none;
}