{% extends "base.html" %}


{% block css %}
{{ super() }}
<style>
  .container {
    padding-top: 60px;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .project-list {
    max-width: 1360px;
    min-width: 1080px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .project-plate {
    width: 300px;
    min-width: 300px;
    height: 300px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }

  .empty-plate {
    visibility: hidden;
  }

  .project-plate-header {
    width: 100%;
    height: 50px;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }

  .project-plate-header i {
    margin-right: 5px;
  }

  .project-plate-header h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-plate-body {
    height: 200px;
    padding: 12px;
  }

  .project-plate-body img {
    width: 100%;
    height: 100%;
  }

  .project-plate-footer {
    height: 50px;
    padding: 3px 12px;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
  }
</style>
{% endblock %}


{% block container %}
<div class="container">
  <div class="project-list">
    <div class="project-plate">
      <div class="project-plate-header">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <h4>项目1标题项目1标题项目1标题项目1标题项目1标题项目1标题项目1标题</h4>
      </div>
      <div class="project-plate-body">
        <img src={{ url_for("static", filename="images/project.jpg") }} alt="暂无图片">
      </div>
      <p class="project-plate-footer">项目1的描述项目1的描述项目1的描述项目1的描述项目1的描述项目1的描述项目1的描述项目1的描述项目1的描述项目1的描述</p>
    </div>
    <div class="project-plate">
      <div class="project-plate-header">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <h4>项目2标题</h4>
      </div>
      <div class="project-plate-body">
        <img src={{ url_for("static", filename="images/project.jpg") }} alt="暂无图片">
      </div>
      <p class="project-plate-footer">项目2的描述</p>
    </div>
    <div class="project-plate">
      <div class="project-plate-header">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <h4>项目3标题</h4>
      </div>
      <div class="project-plate-body">
        <img src={{ url_for("static", filename="images/project.jpg") }} alt="暂无图片">
      </div>
      <p class="project-plate-footer">项目3的描述</p>
    </div>
    <div class="project-plate">
      <div class="project-plate-header">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <h4>项目4标题</h4>
      </div>
      <div class="project-plate-body">
        <img src={{ url_for("static", filename="images/project.jpg") }} alt="暂无图片">
      </div>
      <p class="project-plate-footer">项目4的描述</p>
    </div>
    <div class="project-plate">
      <div class="project-plate-header">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <h4>项目5标题</h4>
      </div>
      <div class="project-plate-body">
        <img src={{ url_for("static", filename="images/project.jpg") }} alt="暂无图片">
      </div>
      <p class="project-plate-footer">项目5的描述</p>
    </div>


    <div class="project-plate empty-plate"></div>
    <div class="project-plate empty-plate"></div>
    <div class="project-plate empty-plate"></div>
  </div>
</div>
{% endblock%}


{% block js %}
{{ super() }}
{% endblock %}