{% extends "base.html" %}


{% block title %}三维数字铁路网络应用系统-浏览项目{% endblock %}


{% block css %}
{{ super() }}
<link rel="stylesheet" href={{ url_for("static", filename="css/projects/project_explore.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="tools/jquery-confirm.min.css") }}>
{% endblock %}


{% block iframe_placeholder %}
<iframe class="iframe-placeholder" style="display: block;"></iframe>
{% endblock %}


{% block iframe_placeholder2 %}
<iframe class="iframe-placeholder"></iframe>
{% endblock %}


{% block navbar_menu_items %}
<li class=" navbar-menu-item">
  <a class="nav-link" href="/projects" target="_self">
    <i class="fa fa-home" aria-hidden="true"></i>首页
  </a>
</li>
<li class="navbar-menu-item hover-toggle-btn">
  <a class="nav-link" href="javascript:void(0)">
    <i class="fa fa-globe" aria-hidden="true"></i>方案管理
    <i class="fa fa-angle-left toggle-indicator"></i>
  </a>
  <ul class="navbar-submenu cascade-menu">
    <iframe class="iframe-placeholder"></iframe>
    <li onclick="saveProject()"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>保存项目</span>
      </a></li>
    <li onclick="viewVerticalSection()" data-active="mileage"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>查看纵断面</span>
      </a></li>
    <li onclick="extractCrossSection()" data-active="mileage"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>提取横断面</span>
      </a></li>
    <li onclick="extractVerticalSection()" data-active="mileage"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>提取地面线</span>
      </a></li>
    <!-- <li class="li-disable" onclick="_checkProjectNumber()"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>查看工程数量</span>
      </a></li> -->
    <!-- <li class="li-disable" onclick="_genAdministrativeDivisions()"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>生成行政区划表</span>
      </a></li> -->
  </ul>
</li>
<li class="navbar-menu-item hover-toggle-btn">
  <a class="nav-link" href="javascript:void(0)">
    <i class="fa fa-database" aria-hidden="true"></i>数据源
    <i class="fa fa-angle-left toggle-indicator"></i>
  </a>
  <ul class="navbar-submenu cascade-menu">
    <iframe class="iframe-placeholder"></iframe>
    <h5>加载</h5>
    <li onclick="loadIMap()"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>加载网络地图</span>
      </a></li>
    <li onclick="loadKmlFly()"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>加载KML/FLY文件</span>
      </a></li>
    <li onclick="loadFromServer()"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>从服务器加载...</span>
      </a></li>
    <h5>导出</h5>
    <li onclick="exportAs('kml')"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>导出KML</span>
      </a></li>
    <li onclick="exportAs('fly')"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>导出FLY</span>
      </a></li>
  </ul>
</li>
<li class="navbar-menu-item hover-toggle-btn">
  <a class="nav-link" href="javascript:void(0)">
    <i class="fa fa-plane" aria-hidden="true"></i>动态模拟
    <i class="fa fa-angle-left toggle-indicator"></i>
  </a>
  <ul class="navbar-submenu cascade-menu">
    <iframe class="iframe-placeholder"></iframe>
    <li onclick="analogCrossSectionMap()" data-active="mileage"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>横剖面图</span>
      </a></li>
    <li onclick="analogTraffic()" data-active="mileage"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>交通模拟</span>
      </a></li>
    <li onclick="analogflight()" data-active="mileage"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>飞行鸟瞰</span>
      </a></li>
    <li class="li-disable" onclick="analogProgress()"><a href="javascript:void(0)">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>进度模拟</span>
      </a></li>
  </ul>
</li>
{% endblock navbar_menu_items %}


{% block search_form %}
<!-- 不提供搜索 -->
{% endblock search_form %}


{% block login %}
<!-- 登录后才能访问，不提供登录 -->
{% endblock login %}


{% block container %}
<div class="container">
  <div class="ITEwindow-wrapper">
    <object class="ITEwindow" id="TerraExplorer3DWindowEx" data-project-url={{ project_url }}
      classid="clsid:3a4f9196-65a8-11d5-85c1-0001023952c1"></object>
  </div>
  <div class="ITEinfowindow-wrapper">
    <object class="ITEinfowindow" id="TerraExplorerInformationWindowEx"
      classid="clsid:3a4f919b-65a8-11d5-85c1-0001023952c1"></object>
  </div>
  <div class="sidebar-placeholder"></div>
  <div class="sidebar-indicator"></div>
  <div class="sidebar noselect">
    <iframe class="iframe-placeholder"></iframe>
    <div class="sidebar-header">
      <i class="fa fa-wrench" aria-hidden="true"></i>
      <h4>控制面板</h4>
      <i id="close-sidebar-btn" class="fa fa-times close-window-btn" aria-hidden="true"></i>
    </div>
    <div class="sidebar-body">
      {% for key in sidebar_menu %}
      <div id={{ key }} class="sidebar-row">
        <div class="sidebar-row-header sidebar-submenu-btn">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <h5>{{ key }}</h5>
        </div>
        <ul class="sidebar-submenu">
          {% for id, img in sidebar_menu[key] %}
          <li onclick="Run(id)" id={{ id }}>
            <img src={{ url_for("static", filename="control_panel/img/" + img) }} alt={{ id }}>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="prompt" id="hdm-prompt">
  <iframe class="iframe-placeholder"></iframe>
  <span>数据计算中, 请稍后...</span>
</div>
{% endblock container %}


{% block js %}
{{ super() }}
<!-- 地面线类 -->
<script src="/static/js/projects/js/DMXClass.js"></script>
<!-- SKTools类 -->
<script src="/static/js/projects/js/SKCommonTools.js"></script>
<!-- 横断面相关函数 -->
<script src="/static/js/projects/HDMCrossBox.js"></script>
<!-- 飞行模拟, 列车模拟相关函数 -->
<script src="/static/js/projects/MoniTrackor.js"></script>
<!-- 右侧弹出菜单, SGWorld.Command.Excecute 接口 -->
<script src="/static/js/projects/run_command.js"></script>
<!-- SGWorld事件函数: init, onLoadFinished, onButtonClicked, onProjectTreeAction -->
<script src="/static/js/projects/SGWorldEvents.js"></script>
<!-- 顶部导航栏功能函数 -->
<script src="/static/js/projects/SGWorldNavbar.js"></script>
<!-- jquery确认框插件 -->
<script src="/static/tools/jquery-confirm.min.js"></script>
<script>
  jQuery(document).ready(function () {
    // 显示右侧弹出菜单动画
    jQuery(".sidebar-indicator").mouseenter(function () {
      jQuery(".sidebar").css("transform", "scaleX(1)")
        .children(".iframe-placeholder").css("display", "block");
    })
    // 关闭右侧菜单
    jQuery("#close-sidebar-btn").click(function () {
      jQuery(".sidebar").css("transform", "scaleX(0)")
        .children(".iframe-placeholder").css("display", "none");
    })
    // 右侧菜单子菜单
    jQuery(".sidebar-submenu-btn").click(function () {
      var cur = jQuery(this);
      if (cur.next("ul").hasClass("submenu-visible")) {
        cur.next("ul").removeClass("submenu-visible");
        cur.children("i.fa-angle-right").css("transform", "rotate(0)");
      } else {
        jQuery("ul.submenu-visible").removeClass("submenu-visible")
          .prev().children("i.fa-angle-right").css("transform", "rotate(0)");
        cur.children("i.fa-angle-right").css("transform", "rotate(90deg)");
        cur.next("ul").addClass("submenu-visible");
      }
    })
    // 初始化SGWorld
    SGWorldInit();
  })

  // 自定义确认提示框，取代alert
  function showPrompt(message, timeout) {
    try {
      clearTimeout(promptTimeout);
    }
    catch (err) {
    }
    if (!timeout) {
      var timeout = 1000;
    }
    if (message) {
      jQuery("#hdm-prompt span").text(message);
    }
    jQuery("#hdm-prompt").fadeIn("fast").children(".iframe-placeholder").css("display", "block");
    promptTimeout = setTimeout(function () {
      jQuery("#hdm-prompt").fadeOut().children(".iframe-placeholder").css("display", "none")
    }, timeout);
  }
</script>
{% endblock js %}