{% extends "base.html" %}


{% block css %}
{{ super() }}
<link rel="stylesheet" href={{ url_for("static", filename="css/projects/project_index.css") }}>
{% endblock %}


{% block navbar_menu_items %}
<li class="navbar-menu-item">
  <a class="nav-link link-inactive" href="/" target="_self">项目展示</a>
</li>
<li class="navbar-menu-item">
  <a class="nav-link" href="javascript:void(0);">数字铁路</a>
</li>
{% endblock %}


{% block container %}
<div class="container">
  <div class="project-list">
    {% if not project_list %}
    <h1 class="placeholder"><br>没有对应权限的项目可供浏览, 请联系管理员</h1>
    {% endif %}
    {% for pid, name, description in project_list %}
    <div class="project-plate" data-project-id={{ pid }}>
      <div class="project-plate-header">
        <img src={{ url_for("static", filename="images/pj_icon.png") }}>
        <h4>{{ name }}</h4>
      </div>
      <div class="project-plate-body">
        <img src={{ url_for("static", filename="fly_projects/" + name + "/logo.jpg") }} alt="暂无图片">
      </div>
      <p class="project-plate-footer" data-project-name={{ name }}>{{ description | default("", True) }}</p>
    </div>
    {% endfor %}
    <div class="project-plate empty-plate"></div>
    <div class="project-plate empty-plate"></div>
    <div class="project-plate empty-plate"></div>
  </div>
</div>
{% endblock%}


{% block js %}
{{ super() }}
<script>
  jQuery(document).ready(function () {
    jQuery(".project-plate").click(function () {
      url = "/projects/explore?pid=" + jQuery(this).attr("data-project-id");
      window.open(url, "_blank");
    })
    jQuery(".project-plate-footer").each(function(){
      var desUrl = "/static/fly_projects/" + jQuery(this).attr("data-project-name") + "/note.txt";
      jQuery(this).load(desUrl);
    })
  })
</script>
{% endblock %}