{% extends "base.html" %}


{% block title %}三维数字铁路网络应用系统-浏览项目{% endblock %}


{% block css %}
{{ super() }}
<link rel="stylesheet" href={{ url_for("static", filename="css/projects/project_explore_base.css") }}>
{% endblock %}


{% block iframe_placeholder %}
<iframe class="iframe-placeholder" style="display: block;"></iframe>
{% endblock %}


{% block navbar_menu_items %}
<li class="navbar-menu-item">
  <a class="nav-link" href="/projects" target="_self">
    <i class="fa fa-home" aria-hidden="true"></i>首页
  </a>
</li>
<li class="navbar-menu-item hover-toggle-btn" onclick="func()">
  <a class="nav-link" href="javascript:void(0)">
    <i class="fa fa-globe" aria-hidden="true"></i>方案管理
    <i class="fa fa-angle-left toggle-indicator"></i>
  </a>
  <ul class="navbar-submenu cascade-menu">
    <iframe class="iframe-placeholder"></iframe>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>保存项目</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>查看纵断面</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>提取横断面</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>提取地面线</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>查看工程数量</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>生成行政区划表</span>
      </a></li>
  </ul>
</li>
<li class="navbar-menu-item hover-toggle-btn">
  <a class="nav-link" href="javascript:void(0)">
    <i class="fa fa-database" aria-hidden="true"></i>数据源
    <i class="fa fa-angle-left toggle-indicator"></i>
  </a>
  <ul class="navbar-submenu cascade-menu">
    <iframe class="iframe-placeholder"></iframe>
    <h5>加载</h5>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>加载网络地图</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>加载KML/FLY文件</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>从服务器加载...</span>
      </a></li>
    <h5>导出</h5>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>导出KML</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>导出FLY</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>更新Logo</span>
      </a></li>
  </ul>
</li>
<li class="navbar-menu-item hover-toggle-btn">
  <a class="nav-link" href="javascript:void(0)">
    <i class="fa fa-plane" aria-hidden="true"></i>动态模拟
    <i class="fa fa-angle-left toggle-indicator"></i>
  </a>
  <ul class="navbar-submenu cascade-menu">
    <iframe class="iframe-placeholder"></iframe>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>横剖面图</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>交通模拟</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>飞行鸟瞰</span>
      </a></li>
    <li><a href="#">
        <i class="fa fa-bookmark" aria-hidden="true"></i><span>进度模拟</span>
      </a></li>
  </ul>
</li>
{% endblock %}


{% block search_form %}
<!-- 不提供搜索 -->
{% endblock %}


{% block login %}
<!-- 登录后才能访问，不提供登录 -->
{% endblock %}


{% block container %}
{% endblock %}


{% block js %}
{{ super() }}
{% endblock %}