{% extends "projects/project_explore_base.html"%}


{% block css %}
{{ super() }}
<link rel="stylesheet" href={{ url_for("static", filename="css/projects/project_explore.css") }}>
{% endblock %}


{% block container %}
<div class="container">
  <div class="ITEwindow-wrapper">
    <object class="ITEwindow" id="TerraExplorer3DWindowEx" data-project-url={{ project_url }}
      classid="clsid:3a4f9196-65a8-11d5-85c1-0001023952c1"></object>
  </div>
  <div class="ITEinfowindow-wrapper">
    <object class="ITEinfowindow" id="TerraExplorerInformationWindowEx"
      classid="clsid:3a4f919b-65a8-11d5-85c1-0001023952c1"></object>
  </div>
  <div class="sidebar-placeholder"></div>
  <div class="sidebar-indicator"></div>
  <div class="sidebar noselect">
    <iframe class="iframe-placeholder"></iframe>
    <div class="sidebar-header">
      <i class="fa fa-wrench" aria-hidden="true"></i>
      <h4>控制面板</h4>
      <i id="close-sidebar-btn" class="fa fa-times close-window-btn" aria-hidden="true"></i>
    </div>
    <div class="sidebar-body">
      {% for key in sidebar_menu %}
      <div id={{ key }} class="sidebar-row">
        <div class="sidebar-row-header sidebar-submenu-btn">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <h5>{{ key }}</h5>
        </div>
        <ul class="sidebar-submenu">
          {% for id, img in sidebar_menu[key] %}
          <li onclick="Run(id)" id={{ id }}>
            <img src={{ url_for("static", filename="control_panel/img/" + img) }}>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{{ super() }}
<script>
  jQuery(document).ready(function () {
    jQuery(".sidebar-indicator").mouseenter(function () {
      jQuery(".sidebar").css("transform", "scaleX(1)")
        .children(".iframe-placeholder").css("display", "block");
    })

    jQuery("#close-sidebar-btn").click(function () {
      jQuery(".sidebar").css("transform", "scaleX(0)")
        .children(".iframe-placeholder").css("display", "none");
    })

    jQuery(".sidebar-submenu-btn").click(function () {
      var cur = jQuery(this);
      if (cur.next("ul").hasClass("submenu-visible")) {
        cur.next("ul").removeClass("submenu-visible")
          .css({ "transform": "scaleY(0)", "height": "0" });
        cur.children("i.fa-angle-right").css("transform", "rotate(0)");
      } else {
        jQuery("ul.submenu-visible").removeClass("submenu-visible")
          .css({ "transform": "scaleY(0)", "height": "0" })
          .prev().children("i.fa-angle-right").css("transform", "rotate(0)");
        cur.children("i.fa-angle-right").css("transform", "rotate(90deg)");
        cur.next("ul").addClass("submenu-visible")
          .css({ "transform": "scaleY(1)", "height": "auto" });
        jQuery("ul.submenu-visible").css("height", jQuery("ul.submenu-visible").height())
      }
    })
    TerraExplorerInformationWindowEx.AttachTo3dWindow(TerraExplorer3DWindowEx);
    SGWorld = TerraExplorer3DWindowEx.CreateInstance("TerraExplorerX.SGWorld701");
    var project_url = jQuery("#TerraExplorer3DWindowEx").attr("data-project-url");
    SGWorld.Project.open(project_url);
  })
</script>
<script src="/static/js/run_command.js"></script>

{% endblock %}