{% extends "projects/project_base.html"%}


{% block css %}
{{ super() }}
<style>
  .container {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .ITEwindow-wrapper {
    flex: 80%;
  }

  .ITEinfowindow-wrapper {
    flex: 19%;
    min-width: 200px;
    height: 100%;
  }

  .sidebar-placeholder {
    display: block;
    flex: 1%;
    min-width: 5px;
    max-width: 5px;
    visibility: hidden;
  }

  .ITEwindow,
  .ITEinfowindow {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .sidebar-indicator {
    width: 5px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 60px;
    background-color: black;
    opacity: 0.1;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
  }

  .sidebar {
    width: 22%;
    min-width: 240px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    padding: 2px;
    background-color: snow;
    color: rgba(0, 0, 0, 0.6);
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s;
    z-index: 3;
  }

  .sidebar i.fa {
    margin: 10px;
    transition: 0.3s;
  }

  .sidebar-header h4,
  .sidebar-row-header h5 {
    font-weight: bold;
  }

  .sidebar-header {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 10px;
    border: solid rgba(50, 50, 50, 0.1);
    border-width: 2px 1px 2px 1px;
  }

  #close-sidebar-btn {
    position: static;
    margin-left: auto;
  }

  .sidebar-body {
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .sidebar-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: solid rgba(50, 50, 50, 0.1);
    border-width: 0 1px 0 1px;
  }

  .sidebar-row .sidebar-row-header {
    height: 40px;
    min-height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(50, 50, 50, 0.1);
  }

  .sidebar-row ul.sidebar-submenu {
    display: flex;
    justify-content: left;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 20px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    height: 0;
    transition: all 0.3s;
  }

  .sidebar-row ul li {
    display: block;
    width: 68px;
    height: 68px;
    border: 2px solid;
    border-color: snow gray gray snow;
    outline: 1px solid black;
    margin: 10px;
    cursor: pointer;
  }

  .sidebar-row ul li:active {
    border-color: gray snow snow gray;
  }

  .sidebar-row ul li img {
    width: 100%;
    height: 100%;
  }
</style>
{% endblock %}


{% block container %}
<div class="container">
  <div class="ITEwindow-wrapper">
    <object class="ITEwindow" id="TerraExplorer3DWindowEx"
      classid="clsid:3a4f9196-65a8-11d5-85c1-0001023952c1"></object>
  </div>
  <div class="ITEinfowindow-wrapper">
    <object class="ITEinfowindow" id="TerraExplorerInformationWindowEx"
      classid="clsid:3a4f919b-65a8-11d5-85c1-0001023952c1"></object>
  </div>
  <div class="sidebar-placeholder"></div>
  <div class="sidebar-indicator"></div>
  <div class="sidebar noselect">
    <iframe class="iframe-placeholder"></iframe>
    <div class="sidebar-header">
      <i class="fa fa-wrench" aria-hidden="true"></i>
      <h4>控制面板</h4>
      <i id="close-sidebar-btn" class="fa fa-times close-window-btn" aria-hidden="true"></i>
    </div>
    <div class="sidebar-body">
      {% for key in sidebar_menu %}
      <div id={{ key }} class="sidebar-row">
        <div class="sidebar-row-header sidebar-submenu-btn">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <h5>{{ key }}</h5>
        </div>
        <ul class="sidebar-submenu">
          {% for id, img in sidebar_menu[key] %}
          <li onclick="Run(id)" id={{ id }}>
            <img src={{ url_for("static", filename="control_panel/img/" + img) }}>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{{ super() }}
<script>
  jQuery(document).ready(function () {
    jQuery(".sidebar-indicator").mouseenter(function () {
      jQuery(".sidebar").css("transform", "scaleX(1)")
        .children(".iframe-placeholder").css("display", "block");
    })

    jQuery("#close-sidebar-btn").click(function () {
      jQuery(".sidebar").css("transform", "scaleX(0)")
        .children(".iframe-placeholder").css("display", "none");
    })

    jQuery(".sidebar-submenu-btn").click(function () {
      var cur = jQuery(this);
      if (cur.next("ul").hasClass("submenu-visible")) {
        cur.next("ul").removeClass("submenu-visible")
          .css({ "transform": "scaleY(0)", "height": "0" });
        cur.children("i.fa-angle-right").css("transform", "rotate(0)");
      } else {
        jQuery("ul.submenu-visible").removeClass("submenu-visible")
          .css({ "transform": "scaleY(0)", "height": "0" })
          .prev().children("i.fa-angle-right").css("transform", "rotate(0)");
        cur.children("i.fa-angle-right").css("transform", "rotate(90deg)");
        cur.next("ul").addClass("submenu-visible")
          .css({ "transform": "scaleY(1)", "height": "auto" });
        jQuery("ul.submenu-visible").css("height", jQuery("ul.submenu-visible").height())
      }
    })
    TerraExplorerInformationWindowEx.AttachTo3dWindow(TerraExplorer3DWindowEx);
    SGWorld = TerraExplorer3DWindowEx.CreateInstance("TerraExplorerX.SGWorld701");
    SGWorld.Project.open("\\\\192.10.15.200\\FLYProject\\太仓港支线铁路\\main.FLY");
  })
</script>

{% endblock %}