.auth-page-wrapper {
  width: 96%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.auth-form .col {
  width: 600px;
}

.reg-form-group input {
  width: 200px;
}

.userinfo-table {
  width: 80%;
  margin-bottom: 50px;
}

.userinfo-table caption {
  position: relative;
  text-align: left;
  font-size: 20px;
  margin-left: 50px;
}

.userinfo-table caption h4,
.userinfo-table a {
  display: inline-block;
  margin: 10px;
}

.userinfo-table a {
  font-size: 15px;
  color: #0984e3;
}

.userinfo-table a:hover {
  text-shadow: 0px 0px 1px gray;
}

.userinfo-table caption hr::before {
  content: "";
  width: 100px;
  height: 1px;
  position: absolute;
  left: 0px;
  background-color: gray;
}

.userinfo-title {
  width: 200px;
  line-height: 50px;
  color: gray;
  text-align: right;
  vertical-align: text-top;
}

.userinfo-info {
  text-align: left;
  vertical-align: text-top;
  padding-left: 20px;
}

.userinfo-info p {
  line-height: 30px;
}

input.radio {
  width: 16px;
  margin: 0 0 0 20px;
}

.textarea-group {
  height: auto;
}

.textarea-group label {
  align-self: flex-start;
}

.reg-form-group textarea {
  width: 400px;
  height: 120px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 6px;
  outline: none;
  resize: none;
}