.content-panel:target {
  display: block;
}

.manage-panel {
  padding: 0 50px;
}

.manage-table {
  text-align: left;
  width: 1120px;
  border-collapse: collapse;
  display: block;
}

.manage-table tbody {
  max-height: 640px;
  overflow-y: auto;
  display: block;
}

.update-btn {
  margin-top: 2px;
  margin: 10px;
  margin-left: 0;
}

.manage-table thead {
  background-color: rgba(9,132,227, 0.8);
  border: 1px solid #0984e3;
  border-width: 1px 0 0 0;
}

.manage-table thead tr {
  line-height: 40px;
}

.manage-table thead th {
  color: white;
  font-weight: normal;
  text-align: left;
}

.manage-table thead button {
  margin-top: auto;
  margin-bottom: auto;
}

.manage-table tbody {
  border-bottom: 1px solid #0984e3;
}

.manage-table tbody tr {
  height: 40px;
  line-height: 18px;
  color: rgba(0,0,0,0.9);
}

.manage-table tbody tr:nth-child(even) {
  background-color: rgba(116,185,255, 0.2); 
}

.manage-table tbody tr:nth-child(odd) {
  color: #636e72;  
}


.manage-table th,
.manage-table td {
  padding-left: 10px;
  white-space: normal;
  word-break: break-all;
}

.hidden-btn {
  display: none;
}


.editor-input {
  visibility: hidden;
  width: 100px;
}

.manage-table input {
  height: 30px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  width: 130px;
}

td.td-description {
  font-size: 6px;
  line-height: 12px;
}

/* #################### 提示信息 #################### */

th {
  position: relative;
}

.th-user-permission::after,
.th-role-permission::after {
  content: "整数, 用.隔开, 对应项目的分组.  例如 1.2.10.15 (管理员权限为-1)";
  background-color: snow;
  color: gray;
  width: 170px;
  height: 40px;
  line-height:20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 10px;
  position: absolute;
  top: -40px;
  left: -40px;
  visibility: hidden;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.th-user-permission:hover::after,
.th-role-permission:hover::after {
  visibility: visible;
  opacity: 1;
}