/* #################### 通用样式 #################### */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

html {
  height: 100%;
}

body {
  min-width: 700px;
  height: 100%;
  background-color: #f7f1e3; /* Spanish SWAN WHITE*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.placeholder {
  margin-left: 50px;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-flex-with-animation {
  display: flex !important;
  animation: fadeIn 0.5s;
}

.d-block {
  display: block !important;
  animation: fadeIn 0.5s;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* #################### 导航栏 #################### */

.navbar {
  width: 100%;
  min-width: 700px;
  height: 60px;
  background-color: rgba(12, 99, 175, 1);
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

.navbar a {
  text-decoration: none;
}

.navbar i {
  margin-right: 5px;
}

.navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  color: snow;
  font-size: 20px;
  width: 320px;
  min-width: 320px;
}

.navbar-brand img {
  margin: 10px;
}

.navbar-toggle-btn {
  display: none;
  background: none;
  margin: 0 50px;
  border: none;
  color: snow;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.navbar-toggle-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}

.navbar-menu {
  height: 100%;
  display: flex;
  margin: 0 10px 0 30px;
}

.navbar-menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
}

.nav-link {
  color: snow;
  transition: text-shadow 0.3s;
}

.nav-link:hover {
  text-shadow: 0px 0px 2px #ecf0f1;
}

.link-inactive {
  color: #bdc3c7;
}

.link-inactive:hover {
  color: #ecf0f1;
}

/* #################### 搜索组 #################### */

#search-form {
  margin-right: 30px;
}

#search-form input {
  height: 32px;
  width: 140px;
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
  margin-right: 5px;
}

.submit-btn {
  background: none;
  height: 32px;
  padding: 4px 10px 5px 10px;
  border: 1px solid snow;
  border-radius: 6px;
  z-index: 0;
  color: snow;
  cursor: pointer;
  position: relative;
}

.submit-btn:hover {
  color: black;
  transition: all 0.3s;
}

.submit-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  border: 1px solid snow;
  border-radius: 6px;
  background-color: snow;
  opacity: 0;
  transition: opacity 0.2s;
}

.submit-btn:hover::before {
  opacity: 1;
}

/* #################### 用户组 #################### */

.userinfo-group {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  color: #ecf0f1;
  margin-left: auto;
  margin-right: 50px;
  cursor: pointer;
}

.userinfo-group>i {
  font-size: 30px;
}

.userinfo-group>span{
  font-size: 16px;
}

.userinfo-menu {
  width: 130px;
  background: #3498db;
  position: absolute;
  top: 60px;
  left: -48px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0px 0px 5px #3498db;
  padding: 3px 1px;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.2s;
}

.hover-toggle-btn:hover .cascade-menu {
  transform: scaleY(1);
  opacity: 1;
}

.userinfo-menu::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #3498db;
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) rotate(45deg);
}

.userinfo-menu a {
  display: block;
  white-space: nowrap;
  margin: 2px 4px;
  padding: 0 10px;
  border-radius: 6px;
  color: snow;
  transition: all 0.3s;
}

.userinfo-menu a:hover {
  background-color: snow;
  color: black;
}

.userinfo-menu i, .userinfo-menu span {
  margin: 10px 5px;
}

/* #################### 登录窗口 #################### */
.login-window-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.8);
  z-index: 2;
}

#login-window {
  position: relative;
  width: 420px;
  min-width: 324px;
  background-color: whitesmoke;
  padding: 20px 30px;
  border-radius: 5px;
}

.close-window-btn {
  position: absolute;
  right: 34px;
  top: 20px;
  padding: 1px 3px;
  border-radius: 3px;
  color: gray;
  cursor: pointer;
  transition: all 0.3s;
}

.close-window-btn:hover {
  color: black;
}

.form-group {
  margin: 15px 0;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  height: 36px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  display: block;
}

.btn-group {
  width: 100%;
  margin: 20px 0 10px 0;
}

.primary-btn,
.secondary-btn {
  background-color: #0984e3;
  /* America ELECTRON BLUE */
  padding: 8px 13px;
  font-size: 16px;
  color: snow;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.primary-btn:hover {
  background-color: #0652DD;
  /* Dutch MERCHANT MARINE BLUE */
  box-shadow: 0 0 5px #0652DD;
  text-shadow: 0 0 1px whitesmoke;
}

.secondary-btn {
  background-color: whitesmoke;
  color: black;
  /* padding: 7px 12px; */
  /* border: 1px solid black; */
}

.secondary-btn:hover {
  /* box-shadow: 0 0 5px black; */
  text-shadow: 0 0 1px black;
}

.feedback,
.login-success-feedback {
  display: none;
  padding: 2px 10px;
  border-radius: 3px;
  background-color: snow;
  height: 25px;
  font-size: 14px;
}

.feedback {
  border: 1px solid red;
  animation: shakes 0.5s;
}

@keyframes shakes {
  0% {
    transform: translateX(0);
    background-color: red;
    color: snow;
  }
  100% {
    transform: translateX(0);
    background-color: snow;
    color: black;
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-3px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(3px);
  }
}

/* #################### 媒体查询 #################### */
@media screen and (max-width:999px) {
  .navbar-toggle-wrapper {
    display: none;
    flex-direction: row;
    justify-content: left;
    position: absolute;
    top: 60px;
    background-color: #0984e3;
  }

  .navbar-brand {
    margin-right: auto;
  }
  
  .navbar-toggle-btn {
    display: block;
  }
}