.panel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.content-mid-col {
  flex: 70%;
  min-width: 700px;
  min-height: 750px;
}

.content-mid-col-wrapper {
  width: 96%;
  height: 100%;
  max-width: 860px;
  margin: 0 auto;
  position: relative;
}

.content-right-col {
  flex: 30%;
  min-width: 280px;
}

@media screen and (max-width:999px) {
  .panel-wrapper {
    flex-direction: column;
  }
}
