/* #################### 播放器 #################### */

.video-box {
  width: 100%;
  background-color: black;
}

.video-player-header,
.video-player-footer {
  width: 100%;
  height: 60px;
  background-color: black;
}

.video-player-body {
  width: 100%;
  border-left: 2px solid #101010;
  border-right: 2px solid #101010;
  height: 480px;
}

.video-player-body video {
  background-color: #101010;
  outline: none;
}

/* #################### 视频信息 #################### */

.video-description-box {
  width: 100%;
  height: 150px;
}

.video-description-box h1 {
  width: 100%;
  height: 40px;
  font-weight: normal;
  font-size: 17px;
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-description-box p {
  width: 100%;
  height: 110px;
  line-height: 24px;
  font-size: 15px;
  border: 1px solid #00000033;
  border-radius: 5px;
  padding: 5px 20px;
  overflow: auto;
  background-color: #dfe6e9;
  /* American CITY LIGHTS */
}

/* #################### 右侧视频列表 #################### */

.right-video-list-wrapper {
  width: 84%;
  min-width: 290px;
  height: 750px;
  margin: auto;
  padding: 15px;
  /* box-sizing: content-box; */
  border: 2px solid #00000033;
  border-radius: 5px;
  background-color: #dfe6e9;
  /* American CITY LIGHTS */
  overflow-y: auto;
  overflow-x: hidden;
}

.video-list-title {
  font-size: 24px;
  font-weight: normal;
  margin: 10px 20px;
}

.right-video-list {
  display: flex;
  flex-wrap: wrap;
}

.video-list-item {
  list-style: none;
  flex: 100%;
  height: 80px;
  border-radius: 6px;
  padding: 5px 10px;
  margin-right: auto;
  margin-bottom: 2px;
  display: flex;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  z-index: 0;
}

.list-item-active {
  background-color: snow;
}

.video-list-item:hover {
  box-shadow: 0 0 5px gray;
  z-index: 1;
}

.video-list-img-wrapper {
width: 100px;
min-width: 100px;
height: 70px;
display: inline-block;
}

.video-list-item img {
  width: 100px;
  height: 70px;
}

.video-list-item section {
  flex: 100%;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  overflow: hidden;
  position: relative;
}

.video-list-item section h4 {
  height: 42px;
  line-height: 21px;
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;            /* 设置最多显示两行, 仅对webkit浏览器有效 */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
}

.play-hint {
  font-size: 10px;
  transform: scaleY(0.8);
  background-color: snow;
  color: gray;
  border: 2px solid gray;
  border-radius: 6px;
  padding: 3px 4px 2px 4px;
  position: absolute;
  bottom: 8px;
  left: 80px;
  opacity: 0;
}

.video-list-item:hover .play-hint {
  transition: opacity 0.5s;
  opacity: 1;
}

.video-list-item section p {
  position: absolute;
  bottom: 4px;
}

.video-list-item section p i,
.video-list-item section p span {
  font-size: 14px;
  margin-right: 5px;
  color: gray;
}

.video-list-item section p span {
  display: inline-block;
  width: 40px;
}

/* #################### 滚动条 #################### */

.right-video-list-wrapper::-webkit-scrollbar,
.video-description-body::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.right-video-list-wrapper::-webkit-scrollbar-thumb,
.video-description-body::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%,
                                              transparent 25%, transparent 50%,
                                              rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%,
                                              transparent 75%, transparent);
}

.right-video-list-wrapper::-webkit-scrollbar-track,
.video-description-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

/* #################### 媒体查询 #################### */

@media screen and (max-width:999px) {
  .right-video-list-wrapper {
    margin-top: 10px;
    width: 96%;
    height: auto;
    max-width: 860px;
  }
  .video-list-item {
    flex: 33.3%;
  }
}

@media screen and (max-width:768px) {
  .video-list-item {
    flex: 50%;
  }
}