<table class="manage-table" id="project-manage-table">
  <thead>
    <tr>
      <th class="th-id">pid</th>
      <th class="th-name">名称</th>
      <th class="th-description">描述</th>
      <th class="th-project-url">资源</th>
      <th class="th-project-group">分组</th>
      <th class="th-project-group-editor">
        <button type="button" class="btn btn-default editor-btn" data-target-editor="project-group">修改</button>
        <div class="hidden-btn">
          <button type="button" class="btn btn-primary confirm-btn">确认</button>
          <button type="button" class="btn btn-default cancel-btn">取消</button>
        </div>
      </th>
      <th class="th-delete">&nbsp;删除</th>
    </tr>
  </thead>
  <tbody>
    {% for pj in project_list %}
    <tr data-project-id={{ pj.id }}>
      <td>{{ pj.id }}</td>
      <td>{{ pj.name }}</td>
      <td class="td-description">{{ pj.description | default("", True) }}</td>
      <td>{{ pj.url }}</td>
      <td>{{ pj.group }}</td>
      <td>
        <input class="editor-input" type="text" name={{ pj.id }} data-editor-name="project-group" value={{ pj.group }}>
      </td>
      <td><button type="button" class="btn btn-default project-delete-btn">删除</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>共 {{ project_list | length }} 个项目</p>
<button class="primary-btn update-btn">更新</button>
<button class="primary-btn check-file-btn">检查改动</button>
<button class="primary-btn update-description-btn">更新描述</button>