{% extends "content_base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href={{ url_for("static", filename="css/overview.css") }} type="text/css">
{% endblock %}

{% block content_mid_col_wrapper %}
<div class="slider-wrapper">
  <div class="slider">
    <div class="slider-container">
      {% for image in images %}
      <div class="slider-content" data-content-id={{ loop.index }}
        data-image-url={{ url_for("static", filename=("images/风采展示/" + image)) }}>
        <img class="slider-img" alt={{ image + " 加载失败" }}>
      </div>
      {% endfor %}
    </div>
    <ul class="slider-dots">
      {% for image in images %}
      <li class="slider-dot" data-content-id={{ loop.index }}></li>
      {% endfor %}
    </ul>
    <div class="slider-arrow-group">
      <div class="slider-arrow slider-left-arrow">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="slider-arrow slider-right-arrow">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content_right_col %}
<section id="website-description">
  <h1>线路室视频站</h1>
  <p>本网站提供项目视频和数字铁路模拟工具。</p>
  <p>数字铁路工具需登陆后使用。</p>
</section>
{% endblock %}

{% block js %}
{{ super() }}
<script src={{ url_for("static", filename="js/overview.js") }}></script>
{% endblock %}